import(sfsmisc)
import(abind)
importFrom("graphics", "legend", "lines", "par", "plot", "points","text")
importFrom("stats", "cor", "cov", "pchisq", "quantile", "rbeta", "rbinom", "rmultinom", "runif", "var")
importFrom("utils", "capture.output")
export(gendat,plfm)
export(plfm,plfm)
export(bayesplfm,plfm)
export(stepplfm,plfm)
export(gendatLCplfm,plfm)
export(LCplfm,plfm)
export(stepLCplfm,plfm)
S3method(print,plfm)
S3method(plot,plfm)
S3method(summary,plfm)
S3method(print,summary.plfm)
S3method(print,bayesplfm)
S3method(summary,bayesplfm)
S3method(print,summary.bayesplfm)
S3method(print,stepplfm)
S3method(plot,stepplfm)
S3method(summary,stepplfm)
S3method(print,summary.stepplfm)
S3method(print,LCplfm)
S3method(plot,LCplfm)
S3method(print,stepLCplfm)
S3method(plot,stepLCplfm)
S3method(summary,stepLCplfm)
S3method(print,summary.stepLCplfm)
useDynLib("plfm", .registration = TRUE)
