import(sfsmisc)
import(abind)
export(gendat,plfm)
export(plfm,plfm)
export(bayesplfm,plfm)
export(stepplfm,plfm)
S3method(print,plfm)
S3method(summary,plfm)
S3method(print,summary.plfm)
S3method(print,bayesplfm)
S3method(summary,bayesplfm)
S3method(print,summary.bayesplfm)
S3method(print,stepplfm)
S3method(plot,stepplfm)
S3method(summary,stepplfm)
S3method(print,summary.stepplfm)

